*{
    height: 100%;
    width: 100%;
}
/* Custom scrollbar styles for the body */
body::-webkit-scrollbar {
    width: 0px; /* Width of the scrollbar */
}
.head{
    position:fixed;
    top: 0%;
    height: 13vh;
    width: 100%;
    z-index: 1;
    /* border: 1px solid red; */
    background-color:rgba(245, 245, 245, 0.92) ;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 14px 3px rgb(12,12,12,0.2);
}
.logo{
    position: relative;
    margin:auto;
    /* border: 1px solid greenyellow; */
    width: 15vw;
    height: 10vh;
    display:flex ;
}
.image{
    position: relative;
    /* border: 1px solid red; */
    height:70px;
    width: 70px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}  
.name{
    display: flex;
    position: relative;
    width: 75%;
    margin: auto;
    /* border: 1px solid red; */
    text-align: center;
    font-size:1.5rem ;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey;
}
.links{
    position: relative;
    margin: auto;
    margin-left: 20%;
    padding-inline-start: 5%;
    /* border: 1px solid blue; */
    height: 9vh;
    width: 75vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
#link{
    position: relative;
    top: 27%;
    margin: auto;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey;
    text-decoration: none;
}
.resume{
    position: relative;
    margin: auto;
    /* border: 1px solid black; */
    width: 10vw;
    height: 9vh;
    display: flex;
}
#resume{
    position: relative;
    margin: auto;
    width: 90%;
    height: 90%;
    color: White;
    font-size: 1.3rem;
    background-color: rgb(12, 0, 77);
    border-radius: 0.5rem;
}
#resume:hover{
    box-shadow: 0px 0px 14px 5px rgb(12,12,12,0.2);
    border: none;
    background-color: rgb(0, 186, 65);

}
.sidebar{
    position: fixed;
    top: 42vh;
    width:2.7vw;
    height: auto;
    padding: 1%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    background-color: beige;
}
.sidebar img{
    position: relative;
    margin:auto;
    width: 95%;
    height: 5vh;
}
.subhead{
   /* border: 1px solid red; */
   position: relative;
   top: 15vh;
   width: 90%;
   height :auto;
   margin: auto;
   display: block;
   justify-content: center;
   align-items: center;
}
#tag{
    color: rgb(42, 42, 42);
    font-size: 3rem;
    text-align: center;
}
#tag1{
    position: relative;
    top: 2vh;
    color: rgb(71, 71, 71);
    font-size: 1.5rem;
    text-align: center;
}
.skills{
    position: relative;
    top: 30vh;
    width: 90%;
    height: 50vh;
    margin: auto;
    /* border: 1px solid red; */
    display: block;
    justify-content: center;
    align-items: center;
    background-color: rgba(168, 168, 168, 0.1);

}
#heading{
    position: relative;
    /* border: 1px solid red; */
    top: 2%;
    margin: auto;
    width: 10%;
    height: 2rem;
    padding: 1%;
    font-size:2rem ;
    text-align: center;
    /* font-family:Arial, Helvetica, sans-serif ; */
    color: rgb(11, 11, 11);
    /* background-color: rgba(107, 107, 107, 0.8); */
    border-bottom: 2px solid rgb(6, 0, 58);
    /* text-decoration: underline; */
}
.card{
    position: relative;
    top: 3vh;
    width: 90%;
    height: 70%;
    /* border: 1px solid red; */
    margin: auto;
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: repeat(4, 1fr); /* 3 columns */ 
}
#item{
    position: relative;
    top: 1vh;
    /* border: 1px solid red; */
    margin: auto;
    width: 55%;
    height: 55%;
    display:flex;
    flex-direction: row;
    justify-content:center ;
    align-items:center ;
    gap: 2vw;
    background-color:azure;
    padding: 1%;
}
#item img{
    /* border: 1px solid red; */
    margin-left: 0%;
    width: 30%;
    height: 90%;
    font-size: 1.2rem;
}
#item:hover{
    box-shadow: 0px 0px 14px 4px rgb(10,10,10,0.2);
}
#name{
    position: relative;
    margin: auto;
    top: 1.5vh;
    justify-content: center;
    justify-items: center;
    font-family:Arial, Helvetica, sans-serif;
}
.projects{
    position: relative;
    width: 90%;
    height: auto;
    margin: auto;
    top: 45vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap: 2vh;
}
.proitem{
    position: relative;
    width: 95%;
    height: 30vh;
    margin: auto;
    /* border: 1px solid red; */
    border-bottom: 1px solid grey;
    border-top: 1px solid rgb(72, 72, 72);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    row-gap:15%;
    overflow: hidden;
}
.proitem:hover{
    box-shadow: 0px 14px 14px 0px rgba(62, 62, 62, 0.2);
    width: 100%;
}
#proimage{
    position: relative;
    margin: auto;
    margin-right: 5%;
    width: 10%;
    height: 50%;
    /* border: 1px solid blue; */
}
.description{
    position: relative;
    width: 100%;
    height: 90%;
    margin: auto;
    /* border: 1px solid yellow; */
    display: block;
    justify-content: center;
    justify-items: center;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;

}
.proname{
    position: relative;
    margin: auto;
    /* border: 1px solid red; */
    height: 20%;
    font-size: 1.2rem;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
.tech{
 position: relative;
 top:10%;
 width: 90%;
 height: 5vh;
 list-style: disc;
 /* border: 1px solid red; */
 font-size: 0.9rem;
 display: grid;
 grid-template-columns: repeat(5,1fr);
 row-gap: 2%;
 column-gap: 0vh;
}
.link{
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 10%;
}
#button{
    position: relative;
    top: 30%;
    margin: auto;
    margin-right: 2vw;
    width: 90%;
    height: 30%;
    border: none;
    border-radius:0.5vh ;
    color: white;
    font-size: 1.1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:rgb(12, 0, 77) ;
}
#button:hover{
    box-shadow: 0px 15px 14px 0px rgba(141, 141, 141, 0.4);
}
embed {
    position:relative;
    width: 25%;
    height: 100px;
    border: none;
}
iframe {
    width: 25%;
    height: 20%;
    border: 1px solid #ccc;
}
.Education{
    position:relative;
    top: 50vh;
    background-image:url("../Images/ed-back.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    /* border: 1px solid red; */
    border-radius: 1vh;
    width: 90%;
    /* overflow-x: hidden; */
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
.coursework{
    position:relative;
    /* border-top: 1px solid rgb(23, 23, 23); */
    border-bottom: 1px solid rgb(23, 23, 23);
    width: 90%;
    height: 100%;
    overflow: scroll;
    margin:auto;
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(2,3fr);
    row-gap: 10%;
    justify-content: space-evenly;
    justify-items: center;
}
.coursework::-webkit-scrollbar {
    width: 0px; /* Width of the scrollbar */
}
.coursework a{
    position: relative;
    margin: auto;
    width: 75%;
    color: black;
    text-decoration: none;
}
.coursework a:hover{
    box-shadow: 0px 0px 12px 12px rgba(77, 241, 1, 0.2);
    width: 80%;
}
.courseitems{
    position: relative;
    /* border: 1px solid green; */
    background-color: rgba(140, 164, 158, 0.3);
    border-bottom: 1px solid grey;
    height: 24vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-items: flex-start;
    column-gap: 2%;
}
.courseimage{
    position: relative;
    margin: auto;
    margin-left: 1%;
    /* border: 1px solid yellow; */
    width: 30%;
    height: 50%;
}
.courseDescription{
    /* border: 1px solid violet; */
    position: relative;
    padding: 1%;
    margin: auto;
    height: auto;
    display:flex;
    flex-direction: column;
}
#clgName{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.03rem;
}
#date{
    font-size: 1rem;
    position: relative;
    margin-left:0%;
    /* border: 1px solid orange; */
    width: 40%;
    font: bolder;
}
#head{
    position: relative;
    margin: auto;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    font-size:1.1rem ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.link{
    display:none;
}
.image1{
    display:none;
}
.mobresume{
    display: none ;
}
.mobskills{
    display: none;
}
.m-head{
    display: none;
}
.m-head2{
    display: none;
}
.m-ex{
    display: none;
}
.m-head3{
    display: none;
}
.m-head4{
    display: none;
}
.m-projects{
    display: none;
}
.courses{
    display:none;
}
@media (max-width:398px) {
    *{
         width: 100%;
         height: 100%;
         overflow-x:hidden ;
         margin: auto;
    }
    .head{
        display:none;
    }
    .sidebar{
        display:none ;
    }
    .link{
        position: relative;
        z-index: -1;
        width: 40%;
        margin-left:57%;
        height: 30%;
        display: block;
        /* border: 1px solid red; */
        overflow: visible;
        z-index: 1;
        /* background-color:bisque; */
    }
    .nav-links {
        position: relative;
        margin-left: 0%;
        list-style: none;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: right;
        width: 80%;
        height: auto;
    }
    
    .nav-links li {
        position: relative;
        margin: auto;
        padding: 2%;
        text-align: center;
        margin-bottom: 10%;
        margin-top: 5%;
        margin-right:-2% ;
        /* border-bottom: 1px solid #444; */
    }
    
    .nav-links li a {
        text-decoration: none;
        color: #3a3a3a;
        font-size:1rem ;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
    
    .hamburger {
        position: relative;
        margin: auto;
        margin-right: 0%;
        top: 4%;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5%;
        height: 20px;
        width: 40px;
        border: 1px solid rgb(0, 0, 0);
    }
    
    .bar {
        height: 3px;
        width: 100%;
        background: #050505;
        border-radius: 10px;
    }
    .nav-active {
        display: flex !important;
        position: relative;
        padding: 0%;
        margin: auto;
        color: #050505;
        /* border: 1px solid green; */
        background-color: rgb(226, 226, 226);
    }



    .subhead{
      position: relative;
      top: -10vh;
    }

    .image1{
        display: flex;
        position: relative;
        top: -17%;
        margin: auto;
        /* border: 1px solid red; */
        z-index: -1;
        width: 150px;
        height: 150px;
        border-radius: 50% ;
        width: 70vw;
        height: 34vh;
    }
    .image1 img{
        object-fit:cover;
    }
    #tag{
        font-size: 3rem;
    }
    #tag1{
        position: relative;
        /* border: 1px solid red; */
        top: 0vh;
        padding: 2%;
        height: auto;
        font-size: 1rem;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font: bold;
    }
    .body{
        display: none;
    }
    .mobresume{
        display: flex;
        position: relative;
        top: -8vh;
        margin: auto;
        /* border: 1px solid red; */
        border-radius: 0.2vh;
        height: 8vh;
        width: 70%;  
    }
    .mobresume button{
        background-color: #fb592ccd;
        border: none;
        padding: -10%;
        font-size: 1.3rem;
        font-family:'Times New Roman', Times, serif;
        color: white;  
    }
    .m-head{
        position: relative;
        top: -2vh;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: auto;
        border-bottom: 2px solid rgb(255, 89, 0);
        font-size: 2rem;
    }
    .mobskills{
        position: relative;
        margin: auto;
        /* border: 1px solid red; */
        width: 98%;
        height:100vh;
        display: grid;
        grid-template-columns: repeat(3,5fr);
        row-gap:2%;
        column-gap: 2%;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
    }
    .mobskills::-webkit-scrollbar {
        width: 0px; /* Width of the scrollbar */
    }
    .skillitem{
        position: relative;
        margin: auto;
        width: 90%;
        /* border: 1px solid rgb(9, 73, 0); */
        border-bottom:1px solid #3a3a3a;
        border-radius: 1vh ;
        height: 18vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #050505;
         box-shadow: 0px 0px 4px 2px rgba(68, 68, 68, 0.7);
    }
    .skillitem:hover{
        width: 92% ;
        box-shadow: 0px 0px 4px 2px rgba(117, 254, 48, 0.929);
    }

    .m-skill-image{
        position: relative;
         width: 100%;
         height: 50%;
         /* border: 1px solid green; */
    } 
    .m-skill-image::-webkit-scrollbar {
        width: 0px; /* Width of the scrollbar */
    }
    .m-skill-image img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-fit: scale-down;
    }
    #m-skill-name{
        position: relative;
        /* border: 1px solid red; */
        margin: auto;
        width: 100%;
        height: 30%;
        text-align: center;
        font-size: 1.2rem;
    }
   .m-head2{
    position: relative;
    top: 2vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    border-bottom: 2px solid rgb(255, 89, 0);
    font-size: 2rem;
   }
   .m-ex{
    position: relative;
    /* border: 1px solid red; */
    top:4vh;
    width: 98%;
    height: 60vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: -10%;
    flex-direction: column;
    box-shadow: 0px 0px 0px 4px rgb(71, 71, 71,0.5);
   }
   .m-ex-image{
    position: relative;
    /* border: 1px solid red; */
    width: 80%;
    height: 50%;
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
   }
   .m-ex-image img{
    width: 100%;
    height: 80%;
    object-fit: contain;
   }
   .m-ex-des{
    position: relative;
    top: 1%;
    /* border: 1px solid green; */
    width: 90%;
    height: 45%;
    text-align:justify;
    color: black;
   }
   #p-Name{
    font-size: 1.2rem;
    color: black;
    height: auto;
    text-align: center;
   }
   .m-head3{
    position: relative;
    top: 10vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    border-bottom: 2px solid rgb(255, 89, 0);
    font-size: 2rem;
   }
   .m-projects{
      position:relative;
      top: 12vh;
      /* border: 1px solid red; */
      border-bottom: 1px solid orange;
      width: 98%;
      height: auto;
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 2vh;
      justify-content: center;
      align-items:center;
   }
   .m-project-items{
      position: relative;
      /* border: 1px solid green; */
      width: 90%;
      height: 22%;
      margin: auto;
      display: flex;
      flex-direction: column;
      row-gap: 5%;
      border-radius: 0.8vh;
      box-shadow: 0px 0px 5px 4px rgb(72, 72, 72,0.3);
   }
   #m-p-image{
      position: relative;
      width: 100%;
      height:30vh;
      /* border: 1px solid orange; */
      margin: auto;
   }
   /* #m-p-image img{
    object-fit:fill;
   } */
   #m-p-des{
    position: relative;
    /* border: 1px solid red; */
    width: 90%;
    height:40%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding: 5%;
   } 
   #m-p-name{
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1.2rem;
    width: 100%;
    text-align: left;
    text-decoration: underline;
    height: auto;
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    justify-content: space-around;
   }

   #m-p-v-but{
    position: relative;
    /* background-color: rgba(252, 174, 7, 0.849); */
    font-size: 1.1rem;
    width: 25%;
    margin-right:1% ;
    border-radius: 0.3vh;
   }
   #m-p-v-but button{
    background-color: rgba(255, 122, 40, 0.803);
    border: none;
    font-size: 1rem;
    color: white;
   } 
   .m-head4{
    position: relative;
    top: 15vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    border-bottom: 2px solid rgb(255, 89, 0);
    font-size: 2rem;
    text-align: center;
   }
   .courses{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 17vh;
    width: 90%;
    height: 150vh;
    /* border: 1px solid red; */
    border-bottom: 1px solid orange;
    margin-bottom: 5%;
   }
   .m-c-item{
    position: relative;
    top: 0vh;
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    padding-block:2% ;
    width: 98%;
    height: 17vh;
    border: 1px solid rgb(255, 173, 31);
    border-radius: 1vh;
   }
   #m-c-image{
    position: relative;
    width: 50%;
    height: auto;
    margin: auto;
    /* border: 0px solid red; */
   }
   #m-c-img image{
    width: 90%;
    object-fit: scale-down;
   }
   .m-c-des{
    position: relative;
    justify-content: center;
    align-items: center ;
    display: flex;
    flex-direction: column;
    gap: 5%;
   }
   #c-name{
    position: relative;
    height: auto;
    /* border: 1px solid pink; */
    font-size: 1.2rem;
    text-align: left;
    padding-top: 5%;
    padding-bottom: 5%;
   }
   #c-name a{
    color: rgb(0, 0, 0);
    /* text-decoration: none; */
   }
   #c-c-name{
    position: relative;
    height: auto;
   }
}
